@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #082f4958;
  --foreground: #0d1117;
}

.dark {
  --background: #0d1117;
  --foreground: #ffffff;
}

body {
  transition: background-color 0.3s, color 0.3s;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
